/* Basic reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts and fonts styles */
@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* VARIABLES */

/* Font family */
$font-primary: 'Poppins Regular', sans-serif;
$font-secondary: 'Roboto Regular', sans-serif;

/* Font weight */
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-medium: 500;

/* Link background colors */
$link-bg-color: #20214f;

/* Body grid */
.body-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(25, auto);
    gap: 5%;
    .header-container {
        grid-column: 1 / 13;
        grid-row: 1 / 5;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, auto);
        padding: 5%;
        .header-titles {
            grid-column: 1 / 7;
            grid-row: 1 / 3;
            h2 {
                margin-top: 10%;
            }
        }
        .header-links {
            grid-column: 8 / 13;
            grid-row: 4 / 5;
            margin-top: 10%;
        }
        .header-contact {
            grid-column: 1 / 7;
            grid-row: 4 / 5;
            margin-top: 10%;
            .contact-a {
                margin-right: 15%;
            }
        }
        .header-goals {
            grid-column: 8 / 13;
            grid-row: 1 / 3;
            margin-top: 1%;
            p {
                margin-top: 6%;
            }
        }
    }
    .jobs {
        grid-column: 1 / 13;
        grid-row: 6 / 10;
    }
    .education {
        grid-column: 1 / 13;
        grid-row: 11 / 15;
    }
    .skills {
        grid-column: 1 / 13;
        grid-row: 16 / 20;
    }
    .portfolio {
        grid-column: 1 / 13;
        grid-row: 21 / 25;
    }
}

/* Background styles */
.body-bg {
    background-image: url('../img/body-bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Apply style only for the background image*/
.body-bg::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(5px) brightness(0.4);
    z-index: -1;
}

/* Page style */
/* Body's fonts style */
.body-fonts {
    color: #fff;
    font-family: $font-primary;
    font-weight: $font-weight-regular;
    /* Header background color*/
    .header-container {
        background-color: rgba(0, 0, 0, 0.75);
        .header-links {
            /* Links styles */
            .link-style {
                display: inline-block;
                text-decoration: none;
                color: #fff;
                background-color: $link-bg-color;
                padding: 5%;
                border-radius: 50px;
                margin-right: 10%;
                transition: transform 0.3s ease, background-color 0.3s ease;
                &:hover {
                    background-color: #0056b3;
                    transform: scale(1.1);
                }
            }
        }
    }
}